<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="app.name" source="spring.application.name"/>
    <springProperty scope="context" name="app.active" source="spring.profiles.active"/>
    <springProperty scope="context" name="redis.host" source="larunda.logback.redis.host"/>
    <springProperty scope="context" name="redis.port" source="larunda.logback.redis.port"/>

    <appender name="LOGSTASH" class="com.cwbase.logback.RedisAppender">
        <source>${app.name}</source>
        <sourcePath>${app.name}</sourcePath>  <!--自定义的-->
        <type>${app.active}</type> <!--自定义的，便于区分不同的日志-->
        <host>${redis.host}</host> <!--redis地址-->
        <port>${redis.port}</port> <!--redis端口-->
        <password></password> <!--redis密码-->
        <key>logback-logstash-log</key> <!--这个Key是Redis List的Key，需要和Logstash读取Redis的Key匹配 -->
    </appender>

    <!--异步收集-->
    <appender name="ASYNC_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOGSTASH"/>
    </appender>

    <!--此处范围可以到package级也可以是class级,日志级别-->
    <logger name="cn.com.larunda" level="INFO">
        <appender-ref ref="ASYNC_LOG"/>
    </logger>

</configuration>